*{
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
}

#left{
    position: relative;
    width: 40%;
    height: 100%;
}

#lnav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

#lnavright a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

#lnavright{
    display: flex;
    align-items: center;
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    opacity: .6;
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-weight: 600;
    opacity: .6;
}

#right{
    height: 100%;
    width: 60%;
    background-color: white;
}

#rtop{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: black;
}

#rbottom{
    height: 50%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1611080626919-7cf5a9dbab5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
    background-size: cover;
    background-position: center;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background-color: greenyellow;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-color: goldenrod;
    background-image: url(https://images.unsplash.com/photo-1540331547168-8b63109225b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2038&q=80);
    background-size: cover;
    background-position: top;
}

@media(max-width:500px){
    #main{
        flex-direction: column;
    }

    #main #right{
        width: 100%;
    }

    #main #left{
        width: 100%;
    }
}